@use "sass:color";

$yellow-900: #ffce00;
$yellow-800: color.adjust($yellow-900, $lightness: 10%);
$yellow-700: color.adjust($yellow-900, $lightness: 15%);
$yellow-600: color.adjust($yellow-900, $lightness: 20%);
$yellow-500: color.adjust($yellow-900, $lightness: 25%);
$yellow-400: color.adjust($yellow-900, $lightness: 30%);
$yellow-300: color.adjust($yellow-900, $lightness: 35%);
$yellow-200: color.adjust($yellow-900, $lightness: 40%);
$yellow-100: color.adjust($yellow-900, $lightness: 45%);

$light-blue-900: #9bd2ff;
$light-blue-800: color.adjust($light-blue-900, $lightness: 10%);
$light-blue-700: color.adjust($light-blue-900, $lightness: 15%);
$light-blue-600: color.adjust($light-blue-900, $lightness: 20%);
$light-blue-500: color.adjust($light-blue-900, $lightness: 25%);
$light-blue-400: color.adjust($light-blue-900, $lightness: 30%);
$light-blue-300: color.adjust($light-blue-900, $lightness: 10%);
$light-blue-200: color.adjust($light-blue-900, $lightness: 13%);
$light-blue-100: color.adjust($light-blue-900, $lightness: 15%);

$deep-blue-900: #0067bc;
$deep-blue-800: color.adjust($deep-blue-900, $lightness: 10%);
$deep-blue-700: color.adjust($deep-blue-900, $lightness: 15%);
$deep-blue-600: color.adjust($deep-blue-900, $lightness: 20%);
$deep-blue-500: color.adjust($deep-blue-900, $lightness: 25%);
$deep-blue-400: color.adjust($deep-blue-900, $lightness: 30%);
$deep-blue-300: color.adjust($deep-blue-900, $lightness: 35%);
$deep-blue-200: color.adjust($deep-blue-900, $lightness: 40%);
$deep-blue-100: color.adjust($deep-blue-900, $lightness: 45%);

$orange-900: #ff6d00;
$orange-800: color.adjust($orange-900, $lightness: 10%);
$orange-700: color.adjust($orange-900, $lightness: 15%);
$orange-600: color.adjust($orange-900, $lightness: 20%);
$orange-500: color.adjust($orange-900, $lightness: 25%);
$orange-400: color.adjust($orange-900, $lightness: 30%);
$orange-300: color.adjust($orange-900, $lightness: 35%);
$orange-200: color.adjust($orange-900, $lightness: 40%);
$orange-100: color.adjust($orange-900, $lightness: 45%);

$black-900: #000;
$black-800: color.adjust($black-900, $lightness: 50%);
$black-700: color.adjust($black-900, $lightness: 60%);
$black-600: color.adjust($black-900, $lightness: 70%);
$black-500: color.adjust($black-900, $lightness: 80%);
$black-400: color.adjust($black-900, $lightness: 85%);
$black-300: color.adjust($black-900, $lightness: 91%);
$black-200: color.adjust($black-900, $lightness: 95%);
$black-100: color.adjust($black-900, $lightness: 99%);

:root {
  --orange-900: #{$orange-900};
  --orange-800: #{$orange-800};
  --orange-700: #{$orange-700};
  --orange-600: #{$orange-600};
  --orange-500: #{$orange-500};
  --orange-400: #{$orange-400};
  --orange-300: #{$orange-300};
  --orange-200: #{$orange-200};
  --orange-100: #{$orange-100};

  --light-blue-900: #{$light-blue-900};
  --light-blue-800: #{$light-blue-800};
  --light-blue-700: #{$light-blue-700};
  --light-blue-600: #{$light-blue-600};
  --light-blue-500: #{$light-blue-500};
  --light-blue-400: #{$light-blue-400};
  --light-blue-300: #{$light-blue-300};
  --light-blue-200: #{$light-blue-200};
  --light-blue-100: #{$light-blue-100};

  --deep-blue-900: #{$deep-blue-900};
  --deep-blue-800: #{$deep-blue-800};
  --deep-blue-700: #{$deep-blue-700};
  --deep-blue-600: #{$deep-blue-600};
  --deep-blue-500: #{$deep-blue-500};
  --deep-blue-400: #{$deep-blue-400};
  --deep-blue-300: #{$deep-blue-300};
  --deep-blue-200: #{$deep-blue-200};
  --deep-blue-100: #{$deep-blue-100};

  --yellow-900: #{$yellow-900};
  --yellow-800: #{$yellow-800};
  --yellow-700: #{$yellow-700};
  --yellow-600: #{$yellow-600};
  --yellow-500: #{$yellow-500};
  --yellow-400: #{$yellow-400};
  --yellow-300: #{$yellow-300};
  --yellow-200: #{$yellow-200};
  --yellow-100: #{$yellow-100};

  --black-900: #{$black-900};
  --black-800: #{$black-800};
  --black-700: #{$black-700};
  --black-600: #{$black-600};
  --black-500: #{$black-500};
  --black-400: #{$black-400};
  --black-300: #{$black-300};
  --black-200: #{$black-200};
  --black-100: #{$black-100};
}
